<% provide(:title, @hotel.title) %>
  <div class="row">
  	<aside class="span4">
   		<section>
      <%= render 'show_hotel' %>
      </section>
   		<section> <%= image_tag @hotel.photo_url(:thumb).to_s  %> </section>
  	</aside>
  </div>
  <div class="span8">
    <ol class="microposts">
    <%= render 'comments/comment' %>
    </ol>
  </div>

  <div class="span8"> 
    <h2> New Comment </h2>
    <%= simple_form_for [@hotel, @hotel.comments.build], html: { multipart: true } do |f| %>
   
      <%= f.input :text_comment, as: :text, placeholder: 'Comment here!', input_html: {cols: 100, rows: 6}%>
      <%= f.input :hotel_rating, collection: 1..5, include_blank: false, label: "Your rating" %>
     
      <%= f.button :submit, "Add comment", class: "btn btn-large btn-primary" %>
 
    <% end %>
  </div>


